<style>
  /* Estilo para los mensajes propios */
  .mine {
    text-align: right;
    /* Alinear a la derecha */
  }
</style>

<main class="main">
  <div class="content">
    <h1>Angular SocketIO</h1>
    <div>
      <input type="text" placeholder="Ingresa un mensaje" [(ngModel)]="message" (keydown.enter)="sendMessage()" />
    </div>
    <button (click)="sendMessage()">Enviar</button>
  </div>

  <ul class="received-messages">
    <li *ngFor="let msg of receivedMessages" [ngClass]="{ 'mine': msg?.isSender }" [ngStyle]="{ color: msg?.color }">
      {{ msg?.text }}
    </li>
  </ul>
</main>

<router-outlet />